@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #020617;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #020617;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
